In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Riyadh,SA,11/11/2019 2:40,24.63,46.72,71.60,53,75,3.36
1,1,Faanui,PF,11/11/2019 2:42,-16.48,-151.75,80.20,73,100,7.70
2,2,Tiksi,RU,11/11/2019 2:30,71.64,128.87,6.69,97,100,2.04
3,3,Northam,AU,11/11/2019 2:42,-31.65,116.67,73.40,43,0,12.75
4,4,Frederikssund,DK,11/11/2019 2:42,55.84,12.06,44.01,93,100,9.17

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
clouds = city_data_df["Cloudiness"]

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Faanui,PF,11/11/2019 2:42,-16.48,-151.75,80.20,73,100,7.70
14,14,Bluff,AU,11/11/2019 2:42,-23.58,149.07,89.31,11,0,4.38
16,16,Flinders,AU,11/11/2019 2:42,-34.58,150.85,84.99,69,33,20.00
17,17,Avarua,CK,11/11/2019 2:35,-21.21,-159.78,75.20,78,26,11.41
20,20,Atuona,PF,11/11/2019 2:35,-9.80,-139.03,80.33,69,33,10.71
24,24,Yarada,IN,11/11/2019 2:42,17.65,83.27,75.20,94,0,2.24
29,29,New Norfolk,AU,11/11/2019 2:42,-42.78,147.06,78.01,17,100,23.04
31,31,Kieta,PG,11/11/2019 2:42,-6.22,155.63,83.52,69,62,6.42
32,32,Codrington,AU,11/11/2019 2:42,-28.95,153.24,82.00,34,9,4.70
37,37,Tanout,NE,11/11/2019 2:42,14.97,8.88,80.11,16,92,4.74

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

           City Country  Max Temp    Lat     Lng Hotel Name
1        Faanui      PF     80.20 -16.48 -151.75
14        Bluff      AU     89.31 -23.58  149.07
16     Flinders      AU     84.99 -34.58  150.85
17       Avarua      CK     75.20 -21.21 -159.78
20       Atuona      PF     80.33  -9.80 -139.03
24       Yarada      IN     75.20  17.65   83.27
29  New Norfolk      AU     78.01 -42.78  147.06
31        Kieta      PG     83.52  -6.22  155.63
32   Codrington      AU     82.00 -28.95  153.24
37       Tanout      NE     80.11  14.97    8.88
38       Hobart      AU     77.00 -42.88  147.33
39    Namatanai      PG     84.61  -3.66  152.44
48    Sinnamary      GF     81.36   5.38  -52.96
54        Natal      BR     78.80  -5.81  -35.21
55         Hilo      US     84.20  19.71 -155.08
57        Kapaa      US     82.40  22.08 -159.32

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
'''# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to
      #the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
'''

'# Iterate through the DataFrame.\nfor index, row in hotel_df.iterrows():\n    # Get the latitude and longitude.\n    lat = row["Lat"]\n    lng = row["Lng"]\n\n    # Add the latitude and longitude to the params dictionary as values to\n      #the location key.\n    params["location"] = f"{lat},{lng}"\n\n    # Use the search term: "lodging" and our latitude and longitude.\n    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"\n    # Make request and get the JSON data from the search.\n    hotels = requests.get(base_url, params=params).json()\n# Grab the first hotel from the results and store the name.\n    try:\n        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]\n    except (IndexError):\n        print("Hotel not found... skipping.")\n'